<div class="content">
  <h1 class="row">הכנס פרטים ונחזור אליך</h1>

  <div class="row single">
    <span class="text-form">שם:</span>
    <input style="margin-right: 80px;" [formControl]="name" />
  </div>
  <div class="row single">
    <span class="text-form">רחוב:</span>
    <input style="margin-right: 69px;" [formControl]="street" />
  </div>
  <div class="row single">
    <span class="text-form">מספר בית:</span>
    <input style="margin-right: 26px;" [formControl]="houseNamber" />
  </div>
  <div class="row single">
    <span class="text-form">כתובת דוא"ל:</span>
    <input style="margin-right: 2px;" [formControl]="emailAddress" />
  </div>
  <div class="row single">
    <span class="text-form"> הודעה לשליחה:</span>
    <div>
      <input class="message" [formControl]="message" />
    </div>
  </div>

  <div>
    <button class="btn" type="submit" (click)="show=true">שליחה</button>
  </div>

  <div *ngIf="show" style="font-weight: bold;">
    הודעתך נשלחה בהצלחה
  </div>
</div>
