<div class="content" style="direction: rtl;">
  <div>
    <p>
      הכל החל ב - 1928 שקלאוס מוריס עלה ארצה ומימש את אהבתו ופתח משתלה בתל-אביב
    </p>
    <p>
      עד מהרה הפכה המשתלה הקטנה לאבן שואבת לחובבי הפרחים והאסטטיקה בעיר הקטנה
      והמתפתחת
    </p>
    <p>
      כיום חברתינו חולשת על עשרות סניפים וממשיכה את מורשתו בקשר העמוק לאדמה
      ולארץ
    </p>

    <p>
      אצלינו תמצאו את כל סוגי הפרחים, בשירות ללא תחרות
    </p>
    <p>
      פרחים לאירועים, סידורים מרהיבים עם פרטים נוספים, פרחים לבנים לכלה
    </p>
  </div>
</div>
