<div class="content">
  <h3>
    קטלוג - המוצרים שלנו
  </h3>
  <table>
    <tr>
      <td class="pad">
        <img src="assets/icon/cala.jpg" width="180px" />
        <p style="font-weight: bold;">
          זר לכלה
        </p>
        <p>200 שקלים</p>
      </td>
      <td class="pad">
        <img src="assets/icon/shabat.jpg" width="180px" />
        <p style="font-weight: bold;">
          פרחים לשבת
        </p>
        <p>100 שקלים</p>
      </td>
      <td class="pad">
        <img src="assets/icon/table.jpg" width="180px" />
        <p style="font-weight: bold;">
          זרים לשולחן
        </p>
        <p>50 שקלים</p>
      </td>
      <td class="pad">
        <img src="assets/icon/box.jpg" width="180px" />
        <p style="font-weight: bold;">
          מקרונים + סידור פרחים בקופסה
        </p>
        <p>250 שקלים</p>
      </td>
    </tr>

    <tr>
      <td class="pad">
        <img src="assets/icon/chocolate.jpg" width="180px" />
        <p style="font-weight: bold;">
          שוקולד ופרחים
        </p>
        <p>200 שקלים</p>
      </td>
      <td class="pad">
        <img src="assets/icon/dubi.jpg" width="180px" />
        <p style="font-weight: bold;">
          דובי, שוקולד ופרחים
        </p>
        <p>500 שקלים</p>
      </td>
      <td class="pad">
        <img src="assets/icon/letter.jpg" width="180px" />
        <p style="font-weight: bold;">
          אותיות מפרחים
        </p>
        <p>70 שקלים לאות</p>
      </td>
      <td class="pad">
        <img src="assets/icon/yellow.jpg" width="180px" />
        <p style="font-weight: bold;">
          זר מיוחד
        </p>
        <p>50 שקלים</p>
      </td>
    </tr>
  </table>
</div>
