<div class="content">
    <div style="border-style: dotted; padding: 20px;">
        <p style="font-weight: bold;" >חייבים לראות את הדגמים החדשים שלנו לזרי כלה</p>
        <table>
            <tr>
                <td style="padding-right: 20px;">
                    <img src="assets/icon/cala.jpg" width="180px" >
                <p style="font-weight: bold;">
                    אלגנטי ולבן
                </p>
                </td>
                <td style="padding-right: 20px;">
                    <img src="assets/icon/cala2.jpg" width="180px" >
                <p style="font-weight: bold;">
                    ורוד עדין
                </p>
                </td>
                <td style="padding-right: 20px;">
                    <img src="assets/icon/cala3.jpg" width="180px" >
                <p style="font-weight: bold;">
                   מיוחד ויוקרתי
                </p>
                </td>
            </tr>
          
        </table>
    </div>

    <div style="border-style: dotted; padding: 20px; margin-top: 10px;">
        <p style="font-weight: bold;">עיצובים על השולחן לכל אירוע ובכל מחיר!</p>
        <table>
            <tr>
                <td style="padding-right: 20px;">
                    <img src="assets/icon/table.jpg" width="180px" >
                <p style="font-weight: bold;">
                   צבעוני
                </p>
                </td>
                <td style="padding-right: 20px;">
                    <img src="assets/icon/table2.jpg" width="180px" >
                <p style="font-weight: bold;">
                אדום מלכותי 
                </p>
                </td>
                <td style="padding-right: 20px;">
                    <img src="assets/icon/table3.jpg" width="180px" >
                <p style="font-weight: bold;">
                   מגוון גדלים לכל מטרה
                </p>
                </td>
            </tr>
          
        </table>
    </div>
    
</div>

